body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #793131; 
}

h2{
  font-size: 52px;
}

.btn{
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #410b0b;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
}